@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

}

h1 {
    font-size: 60px;
}

.Banner {
    display: flex;
    width: 1321px;
    height: 646px;
    background-color: black;
    justify-content: center;
    border-radius: 30px;


}

button {
    width: 187px;
    height: 56px;
    left: 246px;
    top: 529px;
    color: white;
    background: #DD0000;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.Article {
    width: 531px;
    height: 424px;
    margin-top: 140px;
    color: white;
}

.Img {
    margin-top: 134px;
}

/*Navigation Navigation */


main {
    display: flex;
}

.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 312px;
    height: 312px;
    margin-top: 100px;
    color: white;
    background-color: black;
    border-radius: 10px;

}

.NavMenue {
    width: 252px;
    height: 64px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.Blog {
    margin-top: 100px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 15px;
    max-width: 1008px;
    grid-column-gap: 20px;
}

.BlogContent>button {
    background-color: white;
    color: black;
    font-weight: bold;
    width: 100px;
    height: 32px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.BlogContent>h3 {
    margin-top: 6px;
    margin-left: 5px;
}

.Time {
    display: flex;
    margin-bottom: 5px;
    margin-left: 5px;
}

.Time>p {
    margin: 0;
    margin-left: 5px;
}

.Comment {
    display: flex;
    margin-bottom: 5px;
    margin-left: 25px;

}

.Comment>p {
    margin: 0px;
    margin-left: 5px;

}

.TimeComment {
    display: flex;
}

/*Footer   Foooter Footer */

footer {
    background-color: black;
    color: white;
}

footer>h1 {
    text-align: center;
    padding-top: 130px;

}

hr {
    border: 0.1px solid gray;
}

footer>div>ul {

    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 100px;


}

/*Other page Match Time*/

.MatchTime {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;


}

.Match {

    text-align: center;


}

/*resposnibe Banner*/
@media only screen and (max-width:688px) {

    body {
        width: 350px;
    }

    .Banner {
        display: flex;
        flex-direction: column-reverse;
        width: 688px;
        height: 800px;
        border-radius: 10px;
    }

    .Img {
        margin: auto;

    }

    .Img>img {
        width: 350px;
    }

    .Article {
        margin: auto;
        width: 350px;
    }

    .Article>h1 {
        font-size: 40px;
        text-align: center;
    }


    /*Responsibe menue*/
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 300px;
    }

    .Blog {
        display: flex;
        flex-direction: column;
    }

    /*Responsive Footer*/
    footer {
        text-align: center;
        width: 360px;
        margin-left: 160px;
    }

    div>ul {
        display: flex;
        flex-direction: column;
        padding: 0px;
        row-gap: 15px;
    }


}

/*Tablet Responsibe*/
@media only screen and (max-width:992px) and (min-width:689px) {
    body {
        width: 689px;
    }

    .Banner {
        width: 689px;
        height: 646px;
        border-radius: 5px;
    }

    .Article {
        margin-top: 40px;
        width: 250px;
        height: 424px;
    }

    .Img {
        width: 350px;
        height: 500px;
    }

    /*Navigation var*/
    main {
        display: flex;
        flex-direction: column;
    }

    .Nav {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding-top: 20px;
        width: 688px;
        height: 100px;
        background-color: white;
    }

    .Nav>div:hover {
        border: 2px solid blue;
        border-radius: 5px;
    }

    /*news news*/
    .Blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 10px;
    }
}